#header {
    position: relative;
    z-index: 999;
}

#header a {
    white-space: nowrap;
}

#header h1 svg {
    height: 8.8rem;
}

#header .w_inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media (max-width:768px) {
    #header .w_inner {
        align-items: flex-start;
        flex-direction: column;
    }
}



#header .gnb>ul>li>a {
    display: block;
    line-height: 11.2rem;
    font-size: 1.8rem;
    font-weight: 500;
}

#header .utils a {
    display: flex;
    align-items: center;
    gap: 0.8rem;
}

@media (max-width:768px) {
    #header .utils {
        display: none;
    }
}

.top_banner {
    background: #464646;
    color: #fff;

    text-align: center;
}

.top_banner .w_inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.top_banner a {
    display: flex;
    align-items: center;
    gap: 1.6rem;
    white-space: nowrap;
}


.top_banner a span {
    font-weight: 600;
    font-size: 1.6rem;
    color: var(--secondary-color);
}

.top_banner a strong {
    font-weight: 800;
    font-size: 3.2rem;
}

@media (max-width:768px) {
    .top_banner {
        position: sticky;
        top: 0;
        z-index: 999;
    }

    .top_banner .w_inner {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }



}

.top {
    font-size: 1.2rem;
    line-height: 2.4rem;
    border-bottom: 1px solid var(--line-color);
}

@media (max-width:768px) {
    .top {
        display: none;
    }
}

#quick {
    position: fixed;
    top: 32rem;
    right: 9rem;

    z-index: 4;

    background: var(--w-color);
    border: 1px solid var(--line-color);
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.1);

    border-radius: 1.6rem;

}

#quick a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.8rem;

    padding: 1.8rem;

    white-space: nowrap;
}

#quick a~a {
    border-top: 1px solid var(--line-color);
}


@media (max-width:768px) {
    #quick {
        position: fixed;
        top: auto;
        right: 1.6rem;
        left: 1.6rem;

        bottom: 1.6rem;

        z-index: 4;

        display: flex;
        justify-content: center;

        background: var(--w-color);
        border: 1px solid var(--line-color);
        box-shadow: 0 0 16px rgba(0, 0, 0, 0.1);

        border-radius: 1.6rem;
        padding: 0.8rem;

    }

    #quick>* {
        flex: 1;
    }


    #quick a {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0.8rem;

        padding: 0;

        white-space: nowrap;
    }


    #quick a~a {
        border-top: none;
        border-left: 1px solid var(--line-color);
    }
}


#main_visual {
    position: relative;
}

#main_visual .w_inner {
    clip-path: polygon(100% 0, 100% 100%, 120px 100%, 0 calc(100% - 120px), 0 0);
}

#main_visual .w_inner .itm {
    position: relative;
    height: 64rem;

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

    filter: grayscale(1);
    transition: 0.5s;



}

#main_visual .w_inner .itm .movie {
    position: absolute;
    inset: 0 0 0 0;
}

#main_visual .w_inner .itm .movie video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#main_visual .w_inner .itm.swiper-slide-active {
    filter: grayscale(0);
}

#main_visual .w_inner .itm01 {
    background-image: url(../images/darm_main01.jpg);
}

#main_visual .w_inner .itm02 {
    background-image: url(../images/darm_main05.jpg);
}

#main_visual .w_inner .itm03 {
    background-image: url(../images/darm_main03.jpg);
}

#main_visual .w_inner .itm04 {
    background-image: url(../images/darm_main04.jpg);
}

#main_visual .title {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;
    transform: translate(-50%, -50%);

    max-width: var(--inner-size);
    width: 100%;
}

#main_visual .scroll {
    top: auto;
    bottom: 0;
    left: auto;
    right: 6rem;
}

#main_visual h2 .bzf {
    background: #fff;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    text-shadow: 0 0 0 rgba(255, 255, 255, 0.3);
}


#main_visual h2 em {
    display: block;
    white-space: nowrap;
    font-size: 8rem;
    font-weight: 800;
    line-height: 0.7;

    text-indent: -1rem;
}

#main_visual .page {
    position: absolute;
    bottom: 4rem;
    left: 50%;
    max-width: 32rem;

    transform: translate(-50%, 0);
}



#main_visual .contect {
    position: absolute;
    bottom: 0;
    right: 40rem;

    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    align-items: center;
    justify-content: center;

    width: 20rem;
    height: 20rem;

    color: var(--w-color);
    background: var(--secondary-color);
    border-radius: 50%;

    transform: translate(0, 50%);
    box-shadow: 0 0 24px rgba(0, 0, 0, 0.3);

}

#main_content01 .content .itm {
    border: 1px solid var(--line-color);
    border-radius: 0.8rem;
    padding: 1.6rem;
    background: #f9f9f9;
}

#main_content01 .content .itm .img_box {
    border: 1px solid #333;
    margin-bottom: 1.6rem;

    padding: 0.4rem;
    background: #fff;

    border-radius: 0.4rem;
    overflow: hidden;
}

#main_content01 .content .itm div {
    line-height: 1.5;
}


#main_content02 {
    background: url(../images/main_curri.png) no-repeat fixed center center/cover;
    /* clip-path: polygon(100% 0, 100% 100%, 120px 100%, 0 calc(100% - 120px), 0 0); */
}

#footer {

    background: var(--body-color);
}

#footer a {
    display: block;
    line-height: 1.5;
    color: var(--w-color)
}

#footer .footer_top {
    padding: 6.4rem 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

@media (max-width:768px) {
    #footer .footer_top {
        display: none;
    }
}


#footer .lnk>ul {
    display: flex;
    gap: 8rem;
}

#footer .lnk>ul>li>a {
    font-size: 1.8rem;
    font-weight: 800;
    margin-bottom: 1.6rem;
}

#footer .footer_bottom {
    padding: 4rem 0;
}

#footer .footer_bottom .l_list a::after {
    background: var(--w-color);
}

#footer .footer_bottom .l_list {
    margin-bottom: 1.6rem;
}

@media (max-width:768px) {
    #footer .footer_bottom .l_list {
        flex-direction: column;
    }

    #footer .footer_bottom .l_list a::after {
        display: none;
    }
}

#footer .footer_bottom p {
    font-size: 1.4rem;
    color: var(--w-color);
}